.container{
    display: grid;
    height: 200px;
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    justify-items: center;
}

.loginDiv{
    grid-row: 1;
    grid-area: 1 / 1 / 2 / 2;
    padding:25px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    background-color: rgb(60, 110, 113,.9);
    border-radius: 20px;
}

#loginName{
    background-color: white;
    border-radius: 10px;
}

#loginPassword{
    background-color: white;
    border-radius: 10px;
}

#loginButton{
    width: 150px;
    background-color: rgb(158, 183, 184, 1);
    border-radius: 10px;
}