.newPasswordContainer{
    display: flex;
    height: 300px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    top: 50px;
}

.newPasswordDiv{
    padding:15px;
    text-align: center;
    width: 350px;
    opacity: 0.97;
    border-radius: 20px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background-color: #3C5B71;
    color: white;
}

.confirmPasswordDiv{
    padding:15px;
    padding-top: 0px;
    padding-bottom: 5px;
    text-align: center;
    align-items: baseline;
    width: 350px;
    background-color: #3C5B71;
    opacity: 0.97;
    color: white;
}

.changeButtonMessage{
    padding:15px;
    padding-top: 0px;
    padding-bottom: 15px;
    text-align: center;
    align-items: baseline;
    width: 350px;
    background-color: #3C5B71;
    opacity: 0.97;
    border-radius: 20px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    color: white;
}

#changePasswordButton{
    width: 150px;
    background-color: rgb(158, 183, 184, 1);
    border-radius: 10px;
}

#changePasswordButton:hover{
    background-color: #d9d9d9;
}

#newPassword, #confirmNewPassword{
    border-radius: 7px;
}