.registerContainer{
    display: flex;
    height: 300px;
    /* grid-template-rows: repeat(auto-fit, minmax(100px, 1fr)); */
    /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
    justify-items: center;
    flex-direction: column;
    position: relative;
    top: 45px;
}

.registerDiv{
    /*grid-row: 1;
    grid-area: 1 / 1 / 2 / 2; */
    padding:25px;
    margin: 0 auto;
    text-align: center;
    width: 300px;
    background-color: rgb(60, 110, 113,.9);
    border-radius: 20px;
}

#registerName, #registerEmail, #registerLogin, #registerPassword, #confirmPassword{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-radius: 7px;
    width: 183px;
    left: 50px;
}

#registerButton{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: rgb(158, 183, 184, 1);
    border-radius: 10px;
    left: 70px;
    bottom: 10px;
}

#registerButton:hover {
    background: #D9D9D9;
    color: #000000;
    cursor:pointer;
}

#registerResult{
    display: flex;
    color: white;
    justify-content: center;
    position: relative;
    right: 10px;
}

#registerTitle{
    color: white;
    position: relative;
}

#registerSpacing{
    display: block;
    margin: 15px 0;
}

#regBetwFldSpac{
    display: block;
    margin: 25px 0;
}